In [3]:
import pandas as pd

In [16]:
faang = pd.DataFrame()
for ticker in ['fb', 'aapl', 'amzn', 'nflx', 'goog']:
    df = pd.read_csv(f'../CIDM5310/exercises/{ticker}.csv')
    # make the ticker the first column
    df.insert(0, 'ticker', ticker.upper())
    faang = faang.append(df)

faang.to_csv('faang.csv', index=False)

In [17]:
faang = faang.assign(
    date=pd.to_datetime(faang.date),
    volume=faang.volume.astype(int)
).sort_values(
    ['date', 'ticker']
)

In [6]:
faang.head()

  ticker       date       open       high        low      close    volume
0   AAPL 2018-01-02   166.9271   169.0264   166.0442   168.9872  25555934
0   AMZN 2018-01-02  1172.0000  1190.0000  1170.5100  1189.0100   2694494
0     FB 2018-01-02   177.6800   181.5800   177.5500   181.4200  18151903
0   GOOG 2018-01-02  1048.3400  1066.9400  1045.2300  1065.0000   1237564
0   NFLX 2018-01-02   196.1000   201.6500   195.4200   201.0700  10966889

In [9]:
faang.nlargest(7,'volume')

    ticker       date      open      high       low     close     volume
142     FB 2018-07-26  174.8900  180.1300  173.7500  176.2600  169803668
53      FB 2018-03-20  167.4700  170.2000  161.9500  168.1500  129851768
57      FB 2018-03-26  160.8200  161.1000  149.0200  160.0600  126116634
54      FB 2018-03-21  164.8000  173.4000  163.3000  169.3900  106598834
182   AAPL 2018-09-21  219.0727  219.6482  215.6097  215.9768   96246748
245   AAPL 2018-12-21  156.1901  157.4845  148.9909  150.0862   95744384
212   AAPL 2018-11-02  207.9295  211.9978  203.8414  205.8755   91328654

In [18]:
melted_faang = faang.melt(
    id_vars=['ticker', 'date'], 
    value_vars=['open', 'high', 'low', 'close', 'volume']
)
melted_faang.head()

  ticker       date variable      value
0   AAPL 2018-01-02     open   166.9271
1   AMZN 2018-01-02     open  1172.0000
2     FB 2018-01-02     open   177.6800
3   GOOG 2018-01-02     open  1048.3400
4   NFLX 2018-01-02     open   196.1000

In [11]:
Dropping any data collected can caused a skewed result, but there are several actions and analysis that needs to be carreid out on to fix issue

SyntaxError: invalid syntax (<ipython-input-11-1f1eec8b8935>, line 1)